.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .product-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  
  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    font-size: 20px;  
  }

  .content{
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .content input{
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    border: #ccc 1px solid;
  }

  #edit-product-description{
    resize: none;
    border: #ccc 1px solid;
    width: 72%;
    border-radius: 5px;
    padding: 10px;
    height: 100px;
  }
  
  .close {
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
  
  .product-item button{
    height: auto;
    width: auto;
    padding: 10px;
    text-align: center;
  }
  
  .editButton{
    margin-left: auto;
    margin-right: 10px;
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .deleteButton{
    background-color: black;
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
  }