@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #22222a;
  transition: 0.4s;
  padding: 1.3rem 0;
  z-index: 10;
  margin: 0;
}

.product-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 500px;
  width: 250px; /* Fixált szélesség */
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;  /* A kép szélessége legyen 100% */
  height: 250px; /* Fix magasság minden képhez */
  object-fit: cover; /* A kép kitöltse a rendelkezésre álló teret, miközben megtartja az arányokat */
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.main-nav {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.4rem;
  font-weight: 800;
  color: white;
}

.menu-item {
  padding: 0 5px;
}

.menu-link {
  color: white;
  font-size: 1rem;
  padding: 0 0.5rem;
  font-weight: 300;
}

.menu-link.active {
  color: #3a3937;
  font-weight: 600;
}

.container {
  display: flex;
  height: auto;
  width: 100%;
  margin-top: 55px;
}

.content:nth-child(even) {
  color: rgb(0, 0, 0);
}

.menu {
  height: 100%;
  line-height: 40px;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #e6e3e3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: 5px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  position: relative;
}

.menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 30px;
  transition: width 0.3s;
}

#mainitem:hover::after {
  width: 34%;
}

#allitem:hover::after {
  width: 64%;
}

#licititem:hover::after {
  width: 18%;
}

#connectitem:hover::after {
  width: 44%;
}

.menu a:hover {
  color: #000000;
}

.menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: white;
  width: auto;
  height: auto;
  font-size: 30px;
}

.menu-button:hover {
  cursor: pointer;
}

nav.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 87.59px;
    padding-top: 1.4rem;
    background-color: #22222a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#Searchbar {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.dropdown-menu-search,
.dropdown-menu {
  position: absolute;
  z-index: 1000;
}

.cart-drawer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#search {
  border-radius: 10px;
  border: none;
}

.sidebar-list {
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  left: 0;
  right: 0;
  gap: 15px;
}

.sidebar-categories p {
  word-wrap: break-word; /* Ha túl hosszú egy szó, törjön */
  overflow: hidden;
  text-overflow: ellipsis; /* Hosszú szövegek levágása, ha nem fér el */
}

.sidebar-categories a{
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 0;
}

.sidebar-categories {
  width: 270px; /* A sidebar szélessége */
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow-y: auto; /* Görgethetővé teszi, ha túl hosszú */
  height: calc(100vh - 87.59px); /* A navbar magasságának levonása */
  top: 87.59px; /* A navbar magassága */
  left: 0;
}

.category-item {
  margin-bottom: 15px;
  position: relative;
}

.category-item a {
  cursor: pointer;
  font-weight: bold;
  color: #222;
  font-size: 16px;
}

.subcategory {
  display: none;
  padding-left: 15px;
  margin-top: 5px;
}

.subcategory label {
  display: block;
  font-size: 1rem;
  color: #555;
}

/* Kategóriák legördülése */
.category-item.open .subcategory {
  display: block;
}

/* Ár csúszka */
#price-range {
  width: 100%;
}

#price-value {
  display: block;
  margin-top: 10px;
}

/* Alap gomb stílus */
.upload-button {
  background-color: #333;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.upload-button:hover {
  background-color: #555;
}

#cart-count {
  text-decoration: none;
  color: white;
  margin-left: 7px;
  cursor: default;
  font-size: 13px;
}

/* Navbar dropdown */

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-toggle::before {
  visibility: hidden;
}

.dropdown-toggle-search {
  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 200px;
  padding: 10px 0;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu p {
  padding: 20px;
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-menu button {
  padding: 10px 20px;
  margin: 0px 10px;
  border-radius: 10px;
  color: #333;
  text-decoration: none;
  display: block;
}

/* On hover, change the color to a bit darker while the cursor changes to pointer */
.dropdown-menu button:hover {
  cursor: pointer;
  background-color: rgb(218, 218, 218);
}

/* On clicking the button, while being clicked the color will turn an even darker gray */
.dropdown-menu button:active {
  background-color: gray;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.product-list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: auto;
  box-sizing: border-box;
  height: 400px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card h3 {
  font-size: 23px;
  margin: 10px 0 5px;
}

.product-card p {
  margin: 4px 0;
  font-size: 15px;
  color: #797676;
}

#price{
  font-size: 20px;
  color: #524f4f;
}

.popup-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
  flex-direction: column;
}

.popup-menu a {
  text-decoration: none;
  color: black;
  padding: 8px;
  display: block;
}

.popup-menu a:hover {
  background: #f0f0f0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1020px) {
  .header {
    padding: 1rem 3rem;
    text-align: center;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #22222a;
    transition: 0.4s;
    padding: 1.3rem 0;
    z-index: 10;
    margin: 0;
  }

  .sidebar ul {
    text-align: center;
    padding-left: 0;
  }

  .sidebar ul li {
    display: block;
    margin-bottom: 10px;
  }

  .sidebar-categories {
    width: 25%;
    background-color: #f8f9fa;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    top: 60px; 
    left: 0;
    height: auto;
    padding-top: 20px;
  }
  
  .sidebar-categories a{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 0;
  }

  .sidebar-categories ul {
    display: block; 
  }

  .sidebar-categories ul li a {
    padding: 15px 10px;
    font-size: 1rem;
  }

  .product-list{
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card{
    width: 180px;
  }

  .product-card h3{
    font-size: 15px;
  }

  .content {
    margin-left: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 1rem 3rem;
    text-align: center;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #22222a;
    transition: 0.4s;
    padding: 1.3rem 0;
    z-index: 10;
    margin: 0;
  }

  .sidebar ul {
    text-align: center;
    padding-left: 0;
  }

  .sidebar ul li {
    display: block;
    margin-bottom: 10px;
  }

  .sidebar-categories {
    width: 25%;
    background-color: #f8f9fa;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-y: auto;
    top: 60px; 
    left: 0;
    height: auto;
    padding-top: 20px;
  }
  
  .sidebar-categories a{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 0;
  }

  .sidebar-categories ul {
    display: block; 
  }

  .sidebar-categories ul li a {
    padding: 15px 10px;
    font-size: 1rem;
  }

  .product-list{
    grid-template-columns: repeat(3, 1fr);
  }

  .content {
    margin-left: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 1rem 3rem;
    text-align: center;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #22222a;
    transition: 0.4s;
    padding: 1.3rem 0;
    z-index: 10;
    margin: 0;
  }

  .sidebar ul {
    text-align: center;
    padding-left: 0;
  }

  .sidebar ul li {
    display: block;
    margin-bottom: 10px;
  }

  .sidebar-categories {
    width: 40%;
    background-color: #f8f9fa;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    top: 60px; 
    left: 0;
    height: auto;
    padding-top: 20px;
  }
  
  .sidebar-categories a{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 0;
  }

  .sidebar-categories ul {
    display: block; 
  }

  .sidebar-categories ul li a {
    padding: 15px 10px;
    font-size: small;
  }

  .subcategory label{
    font-size: 0.7rem;
  }

  #price-value{
    font-size: 0.8rem;
  }

  .product-list{
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    margin-left: 0;
    padding: 10px;
  }
}


.message-box {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none; /* Alapértelmezés szerint rejtve */
}
.message-box.success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}
.message-box.show {
  display: block; /* Megjelenítéshez */
}